html {
    font-size: 16px;
}

header {
    height: 6rem;
    background-color: white;
    padding-left: 24px;
    padding-right: 24px;
    
    
}

header img {
    display: inline;
    margin-top: 10px;
    width: 4rem;
    
}

header h1{
    display: inline-block;
    position: relative;
    top: -30px;
    font-family: Oxygen, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 2.25rem;
    line-height: 2rem;
    letter-spacing: 30%;
    color: gray;

}

header h1 strong {
    font-size: 2.25rem;
    color:#4a4a4a;
    font-family: Oxygen, Helvetica, sans-serif;
}

nav {
    display: inline-block;
    position: relative;
    top: 24px;
    float: right;
    margin-top: 15px;
}

nav span {
    margin-right: 1rem;
    position: relative;
    top: -0.75rem;
    }

nav a {
    text-decoration: none;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 1.75rem;
    
}

#on-campus {
    display: flex;
    background-color:lightgray;
    
}

#on-campus img {
    margin: 3.5rem 1.5rem;
    width: 60%;
    height: auto;
}

.on-campus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.on-campus h1 {
    font-size: 4rem; 
    font-family: Roboto, Helvetica, sans-serif;
    text-align: left;
    word-spacing: -5px;
    font-weight: 900;
    margin-left: 3.5rem;
    color: #4a4a4a;
}

.on-campus h3 {
    font-size: 2rem; 
    font-family: Roboto, Helvetica, sans-serif;
    text-align: left;
    word-spacing: -5px;
    font-weight: 700;
    margin-left: 3.5rem;
    color: #4a4a4a;
}

.on-campus button {
    margin-left: 3.5rem;
    padding: 1.5rem;
    background-color: #4a4a4a;
    color: white;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 1.75rem;
}