html {
    font-size: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2.5%;
}

.links li {
    display: inline-flex;
}

.links li a {
    font-family: "Roboto", Helvetica, sans-serif;
    text-decoration: none;
    margin-right: 1rem;
    font-size: 1.6rem;
    color:#36454F;
}

header h2 {
    font-family: "Oxygen", Helvetica, sans-serif;
    margin-right: auto;
    font-size: 2rem;
    color:gray;
}

header h2 span {
    color: #36454F;
    font-weight: 700;
}

.logo {
    width: 5rem;
}


.flex-box-container {
    display: flex;
    min-width: 0;
    background-color: rgb(214, 214, 214);
    padding: 5px;
}

.flex-box-item {
    background-color:rgb(214, 214, 214);
    width: 100%;
    padding: 2rem 1.5rem;
    min-width: 0;
}

.flex-box-item-1 {
    display: flex;
    width: 150%;   
    height: auto;
    flex-basis: auto;
}

.flex-box-item-1 img {
    display: flex;
    padding: 10px;
    min-width: 0;
    width: 100%;
    background-color: rgb(214, 214, 214);
}

.flex-box-item-2 {
    background-color: rgb(214, 214, 214);
    align-items: center;
    min-width: 0;
}

.flex-box-item-2 h1 {
    font-family: Roboto, sans-serif;
    font-weight: 800;
    font-size: 4.75rem;
    color: #424e55;
    text-align: left;
    padding-top: 5.5rem;
    padding-left: 2rem;
    background-color: rgb(214, 214, 214);
    align-items: center;
}

.flex-box-item-2 h3 {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 2.25rem;
    color: #424e55;
    width: 90%;
    padding-left: 2rem;
    background-color: rgb(214, 214, 214);
    align-items: center;
}

.flex-box-item-2 button {
    background-color: #424e55;
    color: white;
    font-size: 1.5rem;
    width: 80%;
    height: 5rem;
    margin-left: 2rem;
    align-items: center;
    border: none;
}

#information {
    display: flex;
}

.flex-box-container-2 {
    display: flex;    
    width: 60%;
}

.flex-box-2-item-1 img{
    display: flex;
    margin: 2rem 1.5rem;
    padding: 1rem 1.5rem;  
    width: 90%; 
}

.information-main-text{
    width: 95%;
    margin-left: 1.5rem;
    padding-left: 1.5rem;
    color: #424e55;    
}

.information-main-text h2 {
    font-family: Roboto, sans-serif;
    font-weight: 800;
    font-size: 3.5rem;
}

.information-main-text h3 {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.information-main-text p {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
}

.flex-box-container-3 {
    display: flex;
    flex-direction: column;
    width: 40%;
}


.flex-box-3-item {
    margin: 10px 10px;
    display: inline-flex;
    border: 1px solid rgb(214, 214, 214);
}


.flex-box-3-item img {
    display: flex;
    margin: 1rem 1rem;
    width: 35%;
    height: auto;
}

.flex-box-3-item h3 {
    font-size: 2.5rem;
    font-family: "Oxygen", Helvetica, sans-serif;
    color: #36454F;
    margin-top: 3.5rem;
    margin-bottom: -0.75rem;
}

.flex-box-3-item p {
    font-family: "Oxygen", Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #36454F;
    padding-top: -0.5rem;  
}

.flex-box-3-item a {
    font-family: Roboto, sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
}

.information-text {
    padding-left: 1rem;
    padding-top: 1rem;
}

.flex-box-3-item-3 {
    background-color:rgb(214, 214, 214);
}

#start-learning {
    background-color: rgb(214, 214, 214);
    padding-bottom: 6rem;
}

#start-learning h2{
    text-align: center;
    margin-top: 3rem;
    padding-top: 5rem;
    padding-bottom: 2rem;
    font-family: Roboto, sans-serif;
    font-weight: 800;
    font-size: 3.5rem;
    color: #424e55;
    
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 1.5rem;
    padding-left: 9.5rem;
    padding-right: 9.5rem;
}

.box {
    background-color: white;
}

.box img {
    height: auto;
}

.box h3 {
    font-family: "Oxygen", Helvetica, sans-serif;
    color:#424e55;
    font-size: 2rem;
    padding-left: 2rem;
}

.box h4 {
    font-family: "Oxygen", Helvetica, sans-serif;
    color:#83888b;
    font-size: 1.5rem;
    padding-left: 2rem;
}

.box p {
    font-family: "Oxygen", Helvetica, sans-serif;
    color:#83888b;
    font-size: 1.5rem;
    padding-left: 2rem;
    padding-right: 5rem;
}

#thesis {
    background-color: white;
    display: flex;
   
}

.thesis-title {
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-family: Roboto, sans-serif;
    font-weight: 800;
    font-size: 3rem;
    color: #424e55;
}

.flexbox-4 {
    display: flex;
    flex-direction: column;
    width: 60%;
}

video {
    width: 95.5%;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.flexbox-4 h3 {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 2.25rem;
    color: #424e55;
    margin-left: 1.5rem;
    margin-bottom: -0.25rem;
}

.flexbox-4 p {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    color: #36454F;
    padding-bottom: 3rem;
    margin-left: 1.5rem;
    line-height: 2rem; 
}

.flexbox-5 {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.flexbox-5-item {
    display: inline-flex;
}

.flexbox-5-item-1 {
    background-color: rgb(214, 214, 214);
}

.flexbox-5-item img {
    margin: 1rem 1rem;
    width: 35%;
    height: auto;
}

.flexbox-5-item h3 {
    font-size: 2.5rem;
    font-family: "Oxygen", Helvetica, sans-serif;
    color: #36454F;
    margin-top: 3.5rem;
    margin-bottom: -0.75rem;
}

.flexbox-5-item p {
    font-family: "Oxygen", Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #36454F;
    padding-top: -0.5rem;  
}

footer {
    border-top: 1px rgb(214, 214, 214) solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2.5%;
}

footer p {
    font-family: "Oxygen", Helvetica, sans-serif;
    font-size: 1.25rem;
    color: #36454F;
}

.footer-right-half {
    word-spacing: 1rem; 
}